html{
    height: 100vh;
    background: url("../images/imgContact.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    animation-name: fondu;
    animation-duration: 1s;
    /* font-family: 'Zilla Slab' sans-serif;*/
    /*  background-color: #eeeeee;**/
    height: 100vh;
}
@keyframes fondu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h1{
    color: #FFFFFF;
    font-size: 2.05rem;
    font-family: 'Stencil', sans-serif;
    cursor: default;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.texteDescriptif{
    display: flex;
    justify-content: center;
}

.texteDescriptif h2{
    margin-top: 2rem;
    color: #FFFFFF;
    font-family: 'Exo2', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /*background-color: #282828;*/
    align-items: center;
    top: 0;
    padding: 0.5rem 1rem;

}

.nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav li a{
    list-style: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: 'Exo2', sans-serif;
    color: #b4b4be;
    text-transform: uppercase;
}


.nav li a:hover{
    border-bottom: 4px solid greenyellow;
    color: greenyellow;

}


.overlay{
    background: #000000;
    opacity: .75;
    height: inherit;
}

.containerContact{
    padding-top: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;

}

.containerBureau{
    display: flex;
    flex-direction: column;
    background-color: #3e3f3a;
    width: 100%;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.containerBureau h2{
    font-family: 'Exo2', sans-serif;
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    border-left: 4px solid greenyellow;
    padding-left: 1rem;
}

.containerBureau li{
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Exo2', sans-serif;
    font-size: 18px;
    margin-left: 2.5rem;
}

.bold{
    font-weight: bold;
}

.containerBureau ul{
    margin-bottom: 2rem;
}

.texteContact{
    display: flex;
    flex-direction: column;
    background-color: #3e3f3a;
    width: 100%;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem;

}
.texteContact p{
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Exo2', sans-serif;
    font-size: 18px;
    margin-left: 2.5rem;
}

.texteContact h2{
    font-family: 'Exo2', sans-serif;
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    border-left: 4px solid greenyellow;
    padding-left: 1rem;
}

.containerRS{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
